{% extends "layouts/base.html.twig" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- Section Présentation -->
    <div class="text-center">
        <h1 class="mt-3">{{ nom }} {{ prenom }}</h1>
    </div>
    <div class="mt-5">
        <h2>Thibaud Dalbera</h2>
        <span>Je suis un développeur frontend passioné, contactez moi !</span>
    </div>
    
    
    <!-- Formulaire de contact -->
    <div class="mt-5">
        <h2>Contactez-moi</h2>
        {% if messageEnvoye %}
            <div class="alert alert-success">Votre message a bien été envoyé !</div>
        {% elseif erreur %}
            <div class="alert alert-danger">{{ erreur }}</div>
        {% endif %}
        <form method="post" action="">
            <div class="mb-3">
                <label for="nom" class="form-label">Nom / Prénom</label>
                <input type="text" class="form-control" id="nom" name="nom" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>    

    <!-- Liens vers les réseaux sociaux -->
    <div class="mt-4 text-center">
        <h4>Suivez-moi</h4>
        <a href="https://github.com/suprasuper" class="btn btn-info mx-2" target="_blank">Github</a>
        <a href="https://x.com/ZenitsuAgatsu3" class="btn btn-success mx-2" target="_blank">Twitter</a>
        <a href="{{base_path}}/assets/img/mycv.pdf" class="btn btn-danger mx-2" target="_blank">Mon CV</a>
    </div>

</div>
{% endblock %}
